doctype html
html(lang=currentCulture.language, ng-app="ournet")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= (site.head.title || site.title)
    meta(name='description', content=site.head.description)
    meta(name='keywords', content=site.head.keywords)
    block styles
    link(type='text/css', rel='stylesheet', href='https://assets.ournetcdn.net/ournet/css/exchange/main-260700f879.min.css')
    //- link(type='text/css', rel='stylesheet', href='https://localhost:8044/css/exchange/main.css')
    if (site.head.canonical)
      link(rel='canonical', href=site.head.canonical)
    link(rel='shortcut icon', href=config.favicon)
  body(class=('country-'+currentCulture.country+' project-'+project.name+' language-'+currentCulture.language))
    #page(class=site.pageLayoutCss)
      if (showTopPageBar)
        #sys-top-bar
          .container
            .row
              #sys-menu.col-sm-6.col-xs-12
                each item in topBarMenu
                  a(href=item.href, class=item.cssClass)
                    = item.text
                    if (item.label)
                      span.count= item.label

              #sys-user.col-sm-6.hidden-xs
                each key in config.languages
                  if (key!=currentCulture.language)
                    a.bar-item(href=links.home({ul:key}))= config.languagesNames[key]

      #page-wrapper
        #page-header
          .container
            block content_header
        #page-content.clearfix
          block content
        #page-footer
          .container
            .page-load-divider
              span.domain-World.ref-color &#9679;&#9679;&#9679;
              span.domain-Live.ref-color &#9679;&#9679;&#9679;
              span.domain-Politics.ref-color &#9679;&#9679;&#9679;&#9679;
              span.domain-Entertainment.ref-color &#9679;&#9679;&#9679;&#9679;
              span.domain-Sports.ref-color &#9679;&#9679;&#9679;
              span.domain-Business.ref-color &#9679;&#9679;&#9679;
              span.domain-Tech.ref-color &#9679;&#9679;&#9679;&#9679;
              span.domain-Science.ref-color &#9679;&#9679;&#9679;
              span.domain-Arts.ref-color &#9679;&#9679;&#9679;
              span.domain-Justice.ref-color &#9679;&#9679;&#9679;
              span.domain-Live.ref-color &#9679;&#9679;&#9679;
              span.domain-Politics.ref-color &#9679;&#9679;&#9679;&#9679;
              span.domain-Entertainment.ref-color &#9679;&#9679;&#9679;
              span.domain-Sports.ref-color &#9679;&#9679;&#9679;
              span.domain-Business.ref-color &#9679;&#9679;&#9679;&#9679;
              span.domain-Tech.ref-color &#9679;&#9679;&#9679;
              span.domain-Science.ref-color &#9679;&#9679;&#9679;
              span.domain-Arts.ref-color &#9679;&#9679;&#9679;&#9679;
              span.domain-Justice.ref-color &#9679;&#9679;&#9679;
            .row
              #page-footer-info.col-sm-4.col-xs-12
                div= __('contact')+': '
                  a=  config.email
                div
                | Version 
                = project.version

              #page-footer-portals.col-sm-4.col-xs-12.clearfix
                h4= __('international')
                each item, id in config.international
                  if (id!=config.country)
                    div
                      a(href=item.url, target='_blank')
                        i.flag-icon(class='flag-'+id)
                        = item[currentCulture.language]

              #page-footer-social.col-sm-4.col-xs-12
                //- if (shareInfo)
                //-   .our-sharedata.pull-right(data-appname='ournet', data-identifier=shareInfo.identifier, data-title=shareInfo.title, data-cid=shareInfo.clientId)
                //-     each service in config.shareDataServices
                //-       a.our-share-item(class=service, data-service=service, href=shareInfo.getShareUrl(service), rel='nofollow', target='_blank', title=util.format(__('share_on_format'),util.startWithUpperCase(service)))
                //-         span.share-icon
                //-           i
    #loading-index
      div(our-loading='')

    script(type="text/ng-template", id="template/datepicker/datepicker.html").
      <table>
        <thead>
          <tr>
            <th><button type="button" class="btn btn-default btn-sm pull-left" ng-click="move(-1)">&lsaquo;</button></th>
            <th colspan="{{rows[0].length - 2 + showWeekNumbers}}"><button type="button" class="btn btn-default btn-sm btn-block" ng-click="toggleMode()"><strong>{{title}}</strong></button></th>
           <th><button type="button" class="btn btn-default btn-sm pull-right" ng-click="move(1)">&rsaquo;</button></th>
          </tr>
          <tr ng-show="labels.length > 0" class="h6">
            <th ng-show="showWeekNumbers" class="text-center">#</th>
           <th ng-repeat="label in labels" class="text-center">{{label}}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="row in rows">
            <td ng-show="showWeekNumbers" class="text-center"><em>{{ getWeekNumber(row) }}</em></td>
            <td ng-repeat="dt in row" class="text-center">
              <button type="button" style="width:100%;" class="btn btn-default btn-sm" ng-class="{'btn-info': dt.selected}" ng-click="select(dt.date)" ng-disabled="dt.disabled"><span ng-class="{'text-muted': dt.secondary}">{{dt.label}}</span></button>
            </td>
          </tr>
        </tbody>
      </table>
    script(type="text/ng-template", id="template/datepicker/popup.html").
      <ul class="dropdown-menu" ng-style="{display: (isOpen && 'block') || 'none', top: position.top+'px', left: position.left+'px'}">
        <li ng-transclude></li>
        <li ng-show="showButtonBar" style="padding:10px 9px 2px">
          <span class="btn-group">
            <button type="button" class="btn btn-sm btn-info" ng-click="today()">{{currentText}}</button>
            <button type="button" class="btn btn-sm btn-default" ng-click="showWeeks = ! showWeeks" ng-class="{active: showWeeks}">{{toggleWeeksText}}</button>
            <button type="button" class="btn btn-sm btn-danger" ng-click="clear()">{{clearText}}</button>
          </span>
          <button type="button" class="btn btn-sm btn-success pull-right" ng-click="isOpen = false">{{closeText}}</button>
        </li>
      </ul>
    if (!noGoogleAds)
      script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
    script.
      window.globalInitData={cn: '#{config.country}',ul:'#{currentCulture.language}',currency:'#{config.currency}'};
    script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js')
    script(type='text/javascript', src='https://assets.ournetcdn.net/ournet/js/exchange/main-dea2176ada.min.js')
    //- script(type='text/javascript', src='https://localhost:8044/js/exchange/main.js')
    script(type='text/javascript', src='https://assets.ournetcdn.net/root/js/angular/angular-locale_#{currentCulture.language}.min.js')
    block scripts
    
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', '#{config.googleAnalyticsId}', '#{config.domain}');
      ga('set', 'dimension1', '#{project.name}');
      ga('send', 'pageview');

    script(async='', src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-559bd1344703b48a")
