doctype html
html(lang=currentCulture.language)
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= (site.head.title || site.title)
    meta(name='description', content=site.head.description)
    meta(name='keywords', content=site.head.keywords)
    block styles
    link(type='text/css', rel='stylesheet', href='http://assets.ournetcdn.net/ournet/css/weather/main-130e081d.min.css')
    if (site.head.canonical)
      link(rel='canonical', href=site.head.canonical)
    link(rel='shortcut icon', href=config.favicon)
  body(class=('country-'+currentCulture.country+' project-'+project.name+' language-'+currentCulture.language))
    #fb-root
    #page(class=site.pageLayoutCss)
      if (showTopPageBar)
        #sys-top-bar
          .container
            .row
              #sys-menu.col-sm-8.col-xs-14
                each item in topBarMenu
                  a(href=item.href, class=item.cssClass)
                    = item.text
                    if (item.label)
                      span.count= item.label

              #sys-user.col-sm-6.hidden-xs
                if (config.languages.length>1)
                  each key in config.languages
                    if (key!=currentCulture.language)
                      a.bar-item(href=links.home({ul:key}))= config.languagesNames[key]

      #page-wrapper
        #page-header
          .container
            block content_header
        #page-content.clearfix
          block content
        #page-footer
          .container
            .page-load-divider
              span.domain-World.ref-color &#9679;&#9679;&#9679;
              span.domain-Live.ref-color &#9679;&#9679;&#9679;
              span.domain-Politics.ref-color &#9679;&#9679;&#9679;&#9679;
              span.domain-Entertainment.ref-color &#9679;&#9679;&#9679;&#9679;
              span.domain-Sports.ref-color &#9679;&#9679;&#9679;
              span.domain-Business.ref-color &#9679;&#9679;&#9679;
              span.domain-Tech.ref-color &#9679;&#9679;&#9679;&#9679;
              span.domain-Science.ref-color &#9679;&#9679;&#9679;
              span.domain-Arts.ref-color &#9679;&#9679;&#9679;
              span.domain-Justice.ref-color &#9679;&#9679;&#9679;
              span.domain-Live.ref-color &#9679;&#9679;&#9679;
              span.domain-Politics.ref-color &#9679;&#9679;&#9679;&#9679;
              span.domain-Entertainment.ref-color &#9679;&#9679;&#9679;
              span.domain-Sports.ref-color &#9679;&#9679;&#9679;
              span.domain-Business.ref-color &#9679;&#9679;&#9679;&#9679;
              span.domain-Tech.ref-color &#9679;&#9679;&#9679;
              span.domain-Science.ref-color &#9679;&#9679;&#9679;
              span.domain-Arts.ref-color &#9679;&#9679;&#9679;&#9679;
              span.domain-Justice.ref-color &#9679;&#9679;&#9679;
            .row
              #page-footer-info.col-sm-5.col-xs-14
                div= __('contact')+': '
                  a=  config.email
                div
                | Version 
                = project.version
                div
                  a(href='http://www.yr.no', rel='nofollow', target='_blank')= __('weather_cright')
              #page-footer-portals.col-sm-5.col-xs-14.clearfix
                h4= __('international')
                each id in config.internationalIds
                  - var item = config.international[id]
                  div
                    a(href=item.url, target='_blank')
                      i.flag-icon(class='flag-'+id)
                      = item[currentCulture.language]

              #page-footer-social.col-sm-4.col-xs-14
                if (shareInfo)
                  .our-sharedata(data-appname='ournet', data-identifier=shareInfo.identifier, data-title=shareInfo.title, data-cid=shareInfo.clientId)
                    each service in config.shareDataServices
                      a.our-share-item(class=service, data-service=service, href=shareInfo.getShareUrl(service), rel='nofollow', target='_blank', title=util.format(__('share_on_format'),util.startWithUpperCase(service)))
                        span.share-icon
                          i
                        span.share-count.hidden

    if (!noGoogleAds)
      script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
    script.
      window.globalInitData={cn: '#{config.country}',ul:'#{currentCulture.language}'};
    script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
    script(type='text/javascript', src='http://assets.ournetcdn.net/ournet/js/weather/main-295c601a.min.js')
    block scripts
    
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', '#{config.googleAnalyticsId}', '#{config.domain}');
      ga('set', 'dimension1', '#{project.name}');
      ga('send', 'pageview');
