extends ./layout

block content_header
  .row
    .col-sm-4.col-xs-6
      #header-logo
        a(title=project.name, href=links.home({ul: currentCulture.language}))
    .col-sm-8.col-xs-6
      #header-right-content
        .row
          .col-md-6.hidden-xs.hidden-sm
            if (exchangeWidget && exchangeWidget.rates)
              #widget-exchange
                each item in exchangeWidget.rates
                  - var value = item.buy
                  - var diff = value - item.buy1d
                  - var diffCss = diff>0 ? "view-plus": "view-minus"
                  - diffCss = diff==0 || diff==NaN?'view-no-change': diffCss
                  div(class="item "+diffCss)
                    .symbol= item.currency.symbol
                    span(class="value")= util.numberFormat(value, 2, currentCulture.language)
                    .popover
                      small(class="details")= util.moment(new Date()).locale(currentCulture.language).format(config.monthFormat)
                      .item-source(title=exchangeWidget.source.getName(currentCulture.language))= exchangeWidget.source.getAbbr(currentCulture.language)
                      .item-value= util.numberFormat(value, 4, currentCulture.language)
                      if(diff)
                        small(class="item-diff")= util.numberFormat(diff, 4, currentCulture.language)

          .col-md-6.col-sm-12
            if (weatherWidget && weatherWidget.forecast)
              #widget-weather
                span.symbol
                  img(alt='', src='http://assets.ournetcdn.net/root/img/icons/weather/48/'+weatherWidget.forecast.symbol.id+'.png', title=weatherWidget.forecast.symbol.name)
                span.name
                  a(href=weatherWidget.place.url)= weatherWidget.place.name
                  span.no= weatherWidget.forecast.temperature + '°C'

block content
  #layout-content(class="clearfix")
    .container
      block normal_content

