extends ./layout

block content_header
  .row
    .col-sm-6.col-xs-12
      #header-logo
        a(title=project.name, href=links.home({ul: currentCulture.language}))
    .col-sm-6.hidden-xs
      #header-right-content
        .row
          .col-md-6
          //-   if (exchangeWidget && exchangeWidget.rates)
          //-     #widget-exchange
          //-       each item in exchangeWidget.rates
          //-     | {
          //-     | var value = item.SaleValue.Value;
          //-     | var diff = value - item.YesterdayValue;
          //-     | var diffCss = "view-no-change";
          //-     | if(diff>0)
          //-     | {
          //-     | diffCss = "view-plus";
          //-     | }
          //-     | else if(diff
          //-   |                                 }
          //- |                         }
          .col-md-6.col-sm-12
            if (weatherWidget)
              #widget-weather
                span.symbol
                  img(alt='', src='http://assets.ournetcdn.net/root/img/icons/weather/48/'+weatherWidget.forecast.symbol.id+'.png', title=weatherWidget.forecast.symbol.name)
                span.name
                  a(href=weatherWidget.place.url)= weatherWidget.place.name
                  span.no= weatherWidget.forecast.temperature + '°C'

block content
  #layout-content(class="clearfix")
    .container
      block normal_content

