extends ./normal

block normal_content
  .row
    #page-content-menu.col-sm-2.hidden-xs
      #page-content-menu-inner
        .menu-header
          a(href=links.home())= __('weather')
        .menu
          each item in mainPlaces
            .item
              a(href=links.weather.place(item.id,{ul:currentCulture.language}), title=item_name, class=(place && place.id && item.id == place.id ? 'selected': ''))= item.getName(currentCulture.language)
          .item
            a(href=links.weather.places({ul:currentCulture.language}))= util.format(__('other_n_places_format'), config.placesCount)

        .tab
          .tab-title= __('recent_search')
          .tab-content
            ul.alist
              each item in latestPlaces
                li
                  a(href=links.weather.place(item.id, {ul: currentCulture.language}), title=item.getName(currentCulture.language))= item.getName(currentCulture.language)

    #page-data.col-sm-12.col-xs-14
      #page-data-inner
        .row
          .col-sm-14.col-md-9
            if (location)
              #user-location
                for item, i in location
                  a(href=item.href)= item.text
                  if (i < location.length - 1)
                    ='  › '
            block weather_content
            br
            .text-center.gads-468
              // Ournet 468x60
              ins.adsbygoogle(data-ad-client='ca-pub-3959589883092051', data-ad-slot='3749376618')
              script.
                (adsbygoogle = window.adsbygoogle || []).push({ });
            br
          .col-md-5.hidden-sm.hidden-xs
            #page-content-right
              block right_content
              - var attrs= affix? {'data-spy':'affix'}:{}
              #affix-right-region(data-offset-top='395', data-offset-bottom='200')&attributes(attrs)
                .tab.view-ads.gads-300-600
                  // Ournet 300x600
                  ins.adsbygoogle(data-ad-client='ca-pub-3959589883092051', data-ad-slot='1855601031')
                  script.
                    (adsbygoogle = window.adsbygoogle || []).push({});
                .tab.view-ads!= config.socialPluginsHtmlCode
